X500UniqueIdentifier in Subject

Hi, thanks for the awesome crate! I've come across a bunch of un-parseable certificates, details [here](https://github.com/wayofthepie/ctlogs-cli/issues/5). Most of those are invalid certificates, however there are a few which I am not sure about.

The problem seems to be that they have an `x500UniqueIdentifier` attribute in the Subject:
```
Subject: x500UniqueIdentifier = #030D007276456F4263722B7855413D, C = SI, O = I D.O.O. LJUBLJANA, OU = server certificates, CN = data.idoo.si, SN = idoo.si, GN = data, L = Ljubljana, ST = SI
```
This is a bitstring, but `parse_directory_string` does not allow for that:
```rust
fn parse_directory_string(i: &[u8]) -> DerResult {
    alt!(
        i,
        complete!(parse_der_utf8string)
            | complete!(parse_der_printablestring)
            | complete!(parse_der_ia5string)
            | complete!(parse_der_t61string)
            | complete!(parse_der_bmpstring)
    )
}
```
Example cert is:
```
MIIEyjCCA7KgAwIBAgIDCwWAMA0GCSqGSIb3DQEBDQUAMEIxCzAJBgNVBAYTAlNJMQ8wDQYDVQQKEwZIYWxjb20xIjAgBgNVBAMTGUhhbGNvbSBTZWN1cmUgU2VydmVyIENBIDEwHhcNMTQxMjA0MTEzMzQ4WhcNMTkxMjA0MTEzMzQ4WjCBuTEWMBQGA1UELQMNAHJ2RW9CY3IreFVBPTELMAkGA1UEBhMCU0kxGzAZBgNVBAoTEkkgRC5PLk8uIExKVUJMSkFOQTEcMBoGA1UECxMTc2VydmVyIGNlcnRpZmljYXRlczEVMBMGA1UEAxMMZGF0YS5pZG9vLnNpMRAwDgYDVQQEEwdpZG9vLnNpMQ0wCwYDVQQqEwRkYXRhMRIwEAYDVQQHEwlManVibGphbmExCzAJBgNVBAgTAlNJMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1OBFH0sdb/dVUr4ZRx6abCapHA6wgpOICf/yuGQ7PJJMpVv7ESRF/YHv5OPb6dNhtWuPk8jUxVNobpteR7R6VYNnd8n7gkaxNSt4JoPzkI7ycufbnqMG34ArKY/ZS+61wL7LhQKuPhI70nS/YazT8vyvCdHQRNvHjXRKN2+N0RFuTaAK5rQGU+9gB580m5oUOOSoJGoqE6HQ2D+gSToUQRskUING89BzfrvvWUXYQwuNTBVFo00vYTfOh0K8EZXfBHmbXvu7JMhOKy4Ahob1Cd+OJC4VrcVQIWRTJPCxOyfeyfoBldWQHIR7Cu7n4Dwpa6+/6jXXmobktd+V+I1p6QIDAQABo4IBTzCCAUswHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMBMGA1UdIwQMMAqACEx6dYbVSY2EMBcGA1UdIAQQMA4wDAYKKwYBBAGuMwUCAjB6BgNVHR8EczBxMG+gbaBrhmlsZGFwOi8vbGRhcC5oYWxjb20uc2kvY249SGFsY29tJTIwU2VjdXJlJTIwU2VydmVyJTIwQ0ElMjAxLG89SGFsY29tLGM9U0k/Y2VydGlmaWNhdGVyZXZvY2F0aW9ubGlzdDtiaW5hcnkwEQYDVR0OBAoECEC8ikKu0E4LMA4GA1UdDwEB/wQEAwIE8DBEBgkqhkiG9w0BCQ8ENzA1MA4GCCqGSIb3DQMCAgIAgDAOBggqhkiG9w0DBAICAIAwBwYFKw4DAgcwCgYIKoZIhvcNAwcwFwYDVR0RBBAwDoIMZGF0YS5pZG9vLnNpMA0GCSqGSIb3DQEBDQUAA4IBAQAwhKMGwLSsmw7CWDFC/4KSNOtCj8FMBIbdP10m/yLY4vZF7hUW6xxdQPBHg4rdhXwZfSgontSgcI0P4O/sQw5RCPYh6LSSNCpEyjS3bDK8DX0+6w0WsMv3o5Axcyg+iKK0B2ZA7++Ct6a4m9FU6aG5IVt1it6WQ5esKoDTkw6uB7qKGDo3a6c+8dz6Kz1unqNBQi8NDnZB9p5PJDN8Q7WcLhngv9qSrs4odW3hsZlEDVeqddy1I/p/MtQOKU6+xtZEmvbJSU7XAz1RrTv7xU3vWVJD2dW+YwRSb9ZZYEEzbup6jEfROpZQ4/P86CrzCTQZRIk0OeqzTsqvit2nCqrgAAA=
```
Re-reading the [Issuer Section in RFC 5280](https://tools.ietf.org/html/rfc5280#section-4.1.2.4) it mentions:
>  As noted above, distinguished names are composed of attributes.  This
   specification does not restrict the set of attribute types that may
   appear in names.  However, conforming implementations MUST be
   prepared to receive certificates with issuer names containing the set
   of attribute types defined below.  This specification RECOMMENDS
   support for additional attribute types.

There is some discussion about the validity of this in the python cryptography package, https://github.com/pyca/cryptography/issues/3197. Just wondering what your thoughts are on this? It does seem like it should be supported. Thanks!

Hi,
Thanks for the detailed bugreport, it helped a lot. Here are my first thoughts:

As far as I understand, [RFC 5280 section 4.1.2.4](https://tools.ietf.org/html/rfc5280#section-4.1.2.4) gives that definition:
```
AttributeValue ::= ANY -- DEFINED BY AttributeType
...
The type of
the component AttributeValue is determined by the AttributeType; in
general it will be a DirectoryString.
```

So, my understanding is that `x509-parser` wrongly assumed that all `AttributeType` are `DirectoryString`, in `parse_attr_type_and_value`. In your provided certificate, this part is indeed a bitstring:
```
138   20:         SEQUENCE {
    <06 03 55 04 2D>
 140    3:           OBJECT IDENTIFIER uniqueIdentifier (2 5 4 45)
    <03 0D 00 72 76 45 6F 42 63 72 2B 78 55 41 3D>
 145   13:           BIT STRING 'rvEoBcr+xUA='
         :           }
         :         }
```

and `UniqueIdentifier` is defined in `X.520` (and [RFC4519]https://tools.ietf.org/html/rfc4519#page-20() as `BitString`:
```
uniqueIdentifier ATTRIBUTE ::= {
 WITH SYNTAX UniqueIdentifier
 EQUALITY MATCHING RULE bitStringMatch
 ID id-at-uniqueIdentifier }
UniqueIdentifier ::= BIT STRING
```

So, I think this should be fixed in `x509-parser`. I need to think about the best solution here: adding bitstring alternative is easy, but this would probably accept a lot of invalid certificates. The correct solution would be to use parser depending on `AttributeType` OID, I suppose.

I used the following solution:
- since RFC5280 states that type is ANY, parser accepts any valid DER value
- `x509name_to_string` takes care of checking if the type is a string, and if not, hex-encodes it

BTW, I subscribed to https://github.com/wayofthepie/ctlogs-cli/issues/5, so if you get more parsing errors I'll try fixing them quickly.

Awesome! Thanks for the quick fix.