0.8.0-beta4 fails with duplicate Authority Information Access

I started using 0.8.0-beta4 but certificates which previously parsed are now failing. It seems this is because of duplicate entries in the Authority Information Access extension. Here is an example:

```
MIIGHTCCBQWgAwIBAgIMHPMKUl+f8F7MI9WNMA0GCSqGSIb3DQEBCwUAMIGNMQswCQYDVQQGEwJERTFFMEMGA1UECgw8VmVyZWluIHp1ciBGb2VyZGVydW5nIGVpbmVzIERldXRzY2hlbiBGb3JzY2h1bmdzbmV0emVzIGUuIFYuMRAwDgYDVQQLDAdERk4tUEtJMSUwIwYDVQQDDBxERk4tVmVyZWluIEdsb2JhbCBJc3N1aW5nIENBMB4XDTE3MDMyMzA4NTIxOFoXDTIwMDYxOTA4NTIxOFowgaAxCzAJBgNVBAYTAkRFMRswGQYDVQQIDBJCYWRlbi1XdWVydHRlbWJlcmcxEjAQBgNVBAcMCVN0dXR0Z2FydDEsMCoGA1UECgwjRHVhbGUgSG9jaHNjaHVsZSBCYWRlbi1XdWVydHRlbWJlcmcxGDAWBgNVBAsMD0RIQlctUHJhZXNpZGl1bTEYMBYGA1UEAwwPd3d3LmNhcy5kaGJ3LmRlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAq76wScwUnQ/oimpsiIy5prL31wq/MS019ro53RzfN4BaKicsYjMxuT32O00Q1Mjn7jfVRRF2PqBPrZ6ouRojYvvAOY/1nK6WTulzkBjNW18zOpNjgfme2I2vukyJIKCGayfapNHFS/4mWfSslj4dcLmPg7hr8Fn3XjY4plttvhA9trmO2Fo5UVeGWSUGAAYwCj8mgvIloiZw9yH2wWQ8v54jmzTG1/2Qb2eYqxpQq/nlA0Xuflc5J5l78v7U2GHM8aBZjjeMxLcWHc46gC8cOV4qTgzk6EAT4mX2cDHzir/srGsxdBx2+Rop5ijMfVyqrQjumRf/WdF1DhuxkkOpYQIDAQABo4ICZjCCAmIwWQYDVR0gBFIwUDARBg8rBgEEAYGtIYIsAQEEAwUwEQYPKwYBBAGBrSGCLAIBBAMBMA8GDSsGAQQBga0hgiwBAQQwDQYLKwYBBAGBrSGCLB4wCAYGZ4EMAQICMAkGA1UdEwQCMAAwDgYDVR0PAQH/BAQDAgWgMBMGA1UdJQQMMAoGCCsGAQUFBwMBMB0GA1UdDgQWBBSZsS3rKmjeBGdwu+1c9aY1MMPNVTAfBgNVHSMEGDAWgBRrOpiL+fJTidrgrbIyHgkf6Ko7dDAnBgNVHREEIDAeggtjYXMuZGhidy5kZYIPd3d3LmNhcy5kaGJ3LmRlMIGNBgNVHR8EgYUwgYIwP6A9oDuGOWh0dHA6Ly9jZHAxLnBjYS5kZm4uZGUvZGZuLWNhLWdsb2JhbC1nMi9wdWIvY3JsL2NhY3JsLmNybDA/oD2gO4Y5aHR0cDovL2NkcDIucGNhLmRmbi5kZS9kZm4tY2EtZ2xvYmFsLWcyL3B1Yi9jcmwvY2FjcmwuY3JsMIHbBggrBgEFBQcBAQSBzjCByzAzBggrBgEFBQcwAYYnaHR0cDovL29jc3AucGNhLmRmbi5kZS9PQ1NQLVNlcnZlci9PQ1NQMEkGCCsGAQUFBzAChj1odHRwOi8vY2RwMS5wY2EuZGZuLmRlL2Rmbi1jYS1nbG9iYWwtZzIvcHViL2NhY2VydC9jYWNlcnQuY3J0MEkGCCsGAQUFBzAChj1odHRwOi8vY2RwMi5wY2EuZGZuLmRlL2Rmbi1jYS1nbG9iYWwtZzIvcHViL2NhY2VydC9jYWNlcnQuY3J0MA0GCSqGSIb3DQEBCwUAA4IBAQBwTn5d8MjxQlJlT4s3++IRj4igwM8FOveK+kG0O4vtYuhPpvukwvPoWALSTljpw3lNG0IfNL6/u2nnYGb7qGUq6NxVdIEDJWWd/3Oem5Q268wk0KTp4PiqEX2kyh5F1Gvpga6QVDgZS0LydF0PzEnJazWDbCiiEFh487mg0yWGmVFgJSbxpLcwkajMzNvJv6PCRJLWT2qoCiQX7757y4nrR0M05oPlfXKz7ROWLky+X9o/1Mpb7oWyFp+oxOCjDSFX+WOkTtu2jTi8IHZBv/fd2npQets9PMMKeBOfRDhQxT1iTX/Mm4FFayuPrLaHItThu2fgv58gHPL3ehwYFOj7AAA=
```
The Authority Information Access for that cert is:
```
Authority Information Access:
    OCSP - URI:http://ocsp.pca.dfn.de/OCSP-Server/OCSP
    CA Issuers - URI:http://cdp1.pca.dfn.de/dfn-ca-global-g2/pub/cacert/cacert.crt
    CA Issuers - URI:http://cdp2.pca.dfn.de/dfn-ca-global-g2/pub/cacert/cacert.crt
```
It seems the error is coming from here:
https://github.com/rusticata/x509-parser/blob/a28b5e6f4907af5210cf1a41ce1f2ba10a7eb041/src/extensions.rs#L541-L544

This looks like a bug, the end of [Section 4.2.2.1 of RFC 5280](https://tools.ietf.org/html/rfc5280#section-4.2.2.1) says:

> An authorityInfoAccess extension may include multiple instances of
   the id-ad-caIssuers accessMethod.

Thanks!

The OCSP field can also have duplicates. For example see this cert:
```
MIIGqjCCBZKgAwIBAgIOTQkVtQQjYgSXAMGW09MwDQYJKoZIhvcNAQELBQAwgaoxCzAJBgNVBAYTAkhVMREwDwYDVQQHDAhCdWRhcGVzdDEVMBMGA1UECgwMTmV0TG9jayBLZnQuMTcwNQYDVQQLDC5UYW7DunPDrXR2w6FueWtpYWTDs2sgKENlcnRpZmljYXRpb24gU2VydmljZXMpMTgwNgYDVQQDDC9OZXRMb2NrIEV4cHJlc3N6IChDbGFzcyBDKSBUYW7DunPDrXR2w6FueWtpYWTDszAeFw0xMzA1MjgxNDQ0MjhaFw0xNDA1MjgxNDQ0MjhaMGYxCzAJBgNVBAYTAkhVMREwDwYDVQQHDAhCdWRhcGVzdDEcMBoGA1UECgwTQmFsbGEgU29mdHdhcmUgS2Z0LjELMAkGA1UECwwCSVQxGTAXBgNVBAMMEGJhbGxhc29mdHdhcmUuaHUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCeXvYyt2sFI9B4NfxUgEKGdqw8bM6jFsjGAuhvc+KZ4b7g4zyZhndu1GtkAVHCx1D6fOLCoc4ttb8XepQgJxkwuXMhtKkOk7FebfOBHYtdimO+l11EmDT/dqIDimSFxtSrfOKqCtCE3SvndV53RluOSEN8eH/tU9juiMBmdRgcifFrIt5ied2piYVj5UvceQhsNJnlHNrSRaVDohmF4JIdBtzsvF0QyHNZbgS8j1XuQqSwII4jCPtaPof7CdlLuzBhd6AXPK53zZCsCEf/jc71vKYxiUF1TzW2ByXDCGepaGBFcHcR2F/AQVEEYtWkwQ91FEwEhoLRgCj17jD5xmHhAgMBAAGjggMPMIIDCzAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwIDqDATBgNVHSUEDDAKBggrBgEFBQcDATAdBgNVHQ4EFgQUTdeVtgPc/kmVrcshev55Jn7py/4wHwYDVR0jBBgwFoAUSb8hQPNTvTYrImWoJhL/5N9x9sowgbIGA1UdIASBqjCBpzCBpAYNKwYBBAGbYwExicu5JTCBkjAnBggrBgEFBQcCARYbaHR0cDovL3d3dy5uZXRsb2NrLmh1L2RvY3MvMGcGCCsGAQUFBwICMFsMWU5lbSBtaW7FkXPDrXRldHQgdGFuw7pzw610dsOhbnkuIFN6b2xnw6FsdGF0w6FzaSBzemFiw6FseXphdDogaHR0cDovL3d3dy5uZXRsb2NrLmh1L2RvY3MvMIGeBgNVHR8EgZYwgZMwL6AtoCuGKWh0dHA6Ly9jcmwxLm5ldGxvY2suaHUvaW5kZXguY2dpP2NybD1jY2NhMC+gLaArhilodHRwOi8vY3JsMi5uZXRsb2NrLmh1L2luZGV4LmNnaT9jcmw9Y2NjYTAvoC2gK4YpaHR0cDovL2NybDMubmV0bG9jay5odS9pbmRleC5jZ2k/Y3JsPWNjY2EwggE+BggrBgEFBQcBAQSCATAwggEsMCwGCCsGAQUFBzABhiBodHRwOi8vb2NzcDEubmV0bG9jay5odS9jY2NhLmNnaTAsBggrBgEFBQcwAYYgaHR0cDovL29jc3AyLm5ldGxvY2suaHUvY2NjYS5jZ2kwLAYIKwYBBQUHMAGGIGh0dHA6Ly9vY3NwMy5uZXRsb2NrLmh1L2NjY2EuY2dpMDQGCCsGAQUFBzAChihodHRwOi8vYWlhMS5uZXRsb2NrLmh1L2luZGV4LmNnaT9jYT1jY2NhMDQGCCsGAQUFBzAChihodHRwOi8vYWlhMi5uZXRsb2NrLmh1L2luZGV4LmNnaT9jYT1jY2NhMDQGCCsGAQUFBzAChihodHRwOi8vYWlhMy5uZXRsb2NrLmh1L2luZGV4LmNnaT9jYT1jY2NhMA0GCSqGSIb3DQEBCwUAA4IBAQCI/XuBqupIWjo/7+25FG9FzucjPemCv4OQiQGD1/lPM0C7Lm04vZcNZo7CazRsixlcCpu2juOwJSwszVNXPWSBmdTJ8Z8JxlDMZJGHvlQltsyj0RJvbakBy0Vty8/K6rgAuiQgrJKbtfz+IjVzE8+qC3mH9tq688v87PVBg3YtT2gtdpAsynPIjyuGW12PDLm26h9XdX2Ox+AlC9LYckM3NhCLDWolhLAE/F/KifXt1QEnXhj75CjzXKnUphG4RkOlh5j7eMX7/4qvhSJw1f5sNqgttdYqXSf6CnZUXanTJRZYbMaZA5gmnNE+72ZI+H6NSVgsEAMZdlIN0pjyZrGrAAA=
```
This has three entries for OCSP and three for CA Issuers:

```
Authority Information Access:
    OCSP - URI:http://ocsp1.netlock.hu/ccca.cgi
    OCSP - URI:http://ocsp2.netlock.hu/ccca.cgi
    OCSP - URI:http://ocsp3.netlock.hu/ccca.cgi
    CA Issuers - URI:http://aia1.netlock.hu/index.cgi?ca=ccca
    CA Issuers - URI:http://aia2.netlock.hu/index.cgi?ca=ccca
    CA Issuers - URI:http://aia3.netlock.hu/index.cgi?ca=ccca
```
I have a fix for this on a fork, will raise a PR and see if it makes sense to you.
               